
@import url( "./root.css" );

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    color: var( --base-fg-color );
    background-color: var( --base-bg-color );
    overflow: hidden;
}

.video-grid {
    position: relative;
    width: 100%;
}

.video-grid tr {
    position: relative;
    height: calc( ( 25vw / 16 ) * 9 );
}

.video-grid-cell {
    position: relative;
    width: 25%;
}

.video-grid-cell.large-cell {
    width: 50%;
}

.video-grid-cell img {
    position: relative;
    width: 100%;
    height: 100%;
}

.video-grid-cell label {
    position: relative;
    width: 100%;
    bottom: 0px;
    background-color: #0F0;
}
