
body {
    pointer-events: none;
    background-color: var(--video-bg-color);

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        backdrop-filter: blur(3px);
        mask: linear-gradient(black 10%, transparent 40%, black 90%);
    }
}

html {
    filter: saturate(1.8) contrast(1.2) brightness(1.1);
    -webkit-filter: saturate(1.8) contrast(1.2) brightness(1.1);
}

iframe {
    display: block;
    position: absolute;
    top: 50%;
    left: 0px;
    border: none;
    width: 100vw;
    height: calc( ( 100vw / 16 ) * 9 );
    transform: translateY(-50%);
}
